DEPLOYER_PRIVATE_KEY=0xYourDeployerPrivateKey
NEXT_PUBLIC_REGISTRY_ADDRESS=0xYourDeployedRegistryAddress
AGENT_PRIVATE_KEY=0xYourAgentPrivateKey
FEE_RECIPIENT=0xYourWalletAddress
THIRDWEB_SECRET_KEY=your_thirdweb_secret_key
NEXT_PUBLIC_THIRDWEB_CLIENT_ID=your_thirdweb_client_id
CELOSCAN_API_KEY=your_celoscan_api_key